################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/domain_project/obj
/infrastructure_project/obj
/service_project/obj
